
<tr>
    <td><%= link_to '投给这位',vote_candidate_path(candidate),method: 'post',data:{confirm:'确定投给这人？'},class:'btn btn-danger btn-xs' %></td>
    <td><%= candidate.name %>(年龄：<%= candidate.age %>岁)</td>
    <td><%= candidate.party %></td>
    <td><%= candidate.politics %></td>
    <td><%= candidate.vote_logs.size %></td>
    <td>
    <%= link_to '编辑', edit_candidate_path(candidate) %>
    <%= link_to '删除', candidate_path(candidate),method:'delete',data:{confirm:'确认删除'} %>
    </td>
</tr>
 